Import needed modules

In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Read in the file and set the id to be the index

In [54]:
book_data = pd.read_csv("best_book_21st.csv")

Gather information about the data

In [55]:
book_data.columns

Index(['id', 'title', 'series', 'author', 'book_link', 'genre',
       'date_published', 'publisher', 'num_of_page', 'lang', 'review_count',
       'rating_count', 'rate', 'award'],
      dtype='object')

Start to clean the data

In [56]:
alt_book_data = book_data.drop(columns=['id', 'series', 'book_link', 'publisher', 'lang', 'award'])

# alt_book_data.set_index('title',inplace=True)

alt_book_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10018 entries, 0 to 10017
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           10018 non-null  object
 1   author          10003 non-null  object
 2   genre           9019 non-null   object
 3   date_published  9970 non-null   object
 4   num_of_page     9737 non-null   float64
 5   review_count    10003 non-null  object
 6   rating_count    10003 non-null  object
 7   rate            10003 non-null  float64
dtypes: float64(2), object(6)
memory usage: 626.2+ KB

In [57]:
alt_book_data['title'].value_counts()

Bloodlines (Bloodlines, #1)                                              4
The Shack                                                                3
The God Delusion                                                         3
Prey                                                                     3
Dominion                                                                 3
                                                                        ..
Shakespeare Saved My Life                                                1
The Power (The Secret, #2)                                               1
Henna House                                                              1
I Remember Running: The Year I Got Everything I Ever Wanted - and ALS    1
The Immortal Hunter (Argeneau #11; Rogue Hunter #2)                      1
Name: title, Length: 9098, dtype: int64

In [58]:
alt_book_data.drop_duplicates(subset='title', keep='first', inplace=True)

In [59]:
alt_book_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9098 entries, 0 to 10017
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           9098 non-null   object
 1   author          9083 non-null   object
 2   genre           8124 non-null   object
 3   date_published  9051 non-null   object
 4   num_of_page     8820 non-null   float64
 5   review_count    9083 non-null   object
 6   rating_count    9083 non-null   object
 7   rate            9083 non-null   float64
dtypes: float64(2), object(6)
memory usage: 639.7+ KB

In [60]:
alt_book_data.isnull().sum()

title               0
author             15
genre             974
date_published     47
num_of_page       278
review_count       15
rating_count       15
rate               15
dtype: int64

In [61]:
alt_book_data.dropna(inplace=True)

In [62]:
alt_book_data.shape

(7960, 8)

In [63]:
alt_book_data.head()

,title,author,genre,date_published,num_of_page,review_count,rating_count,rate
0,The Martian,Andy Weir,"Science Fiction,Fiction,Audiobook,Adventure,Sp...",February 11th 2014,384.0,"77,156","919,781",4.40
1,Under the Banner of Heaven: A Story of Violent...,Jon Krakauer,"Nonfiction,Religion,History,Crime,True Crime,M...",2004,400.0,"10,981","173,895",3.98
2,Cutting for Stone,Abraham Verghese,"Fiction,Historical,Historical Fiction,Cultural...",February 3rd 2009,541.0,"26,253","353,365",4.29
3,We Need to Talk About Kevin,Lionel Shriver,"Fiction,Contemporary,Thriller,Horror,Mystery,C...",July 3rd 2006,400.0,"14,787","187,639",4.04
4,The Immortal Life of Henrietta Lacks,Rebecca Skloot,"Nonfiction,Science,History,Biography,Health,Me...",February 2nd 2010,370.0,"36,574","646,155",4.07

In [66]:
alt_book_data['genre']=alt_book_data['genre'].str.split(',').str[0]

alt_book_data.sample(10)

,title,author,genre,date_published,num_of_page,review_count,rating_count,rate
7061,"Always and Forever, Lara Jean (To All the Boys...",Jenny Han,Young Adult,May 2nd 2017,325.0,"19,362","190,203",4.06
7392,The Strangers We Became: Lessons in Exile from...,Cynthia Kaplan Shamash,Literature,October 6th 2015,240.0,5,27,3.74
7523,The Paradox of Vertical Flight,Emil Ostrovski,Young Adult,September 24th 2013,260.0,185,707,3.67
9754,"How Hard Can Love Be? (The Spinster Club, #2)",Holly Bourne,Young Adult,February 1st 2016,480.0,850,"7,129",4.12
5858,"Eve (Eve, #1)",Anna Carey,Science Fiction,October 4th 2011,336.0,"3,538","42,275",3.69
7660,"Size 12 Is Not Fat (Heather Wells, #1)",Meg Cabot,Womens Fiction,December 27th 2005,345.0,"2,780","82,969",3.75
757,The Historian,Elizabeth Kostova,Fiction,2005,704.0,"16,800","258,966",3.79
5675,"Going Down Jericho Road: The Memphis Strike, M...",Michael K. Honey,History,January 15th 2007,640.0,34,213,4.42
8428,"The Declaration (The Declaration, #1)",Gemma Malley,Young Adult,October 2nd 2007,320.0,"1,703","21,593",3.71
9786,Anger Is My Middle Name: A Memoir,"Lisbeth Zornig Andersen,Mark Mussari",Nonfiction,March 1st 2020,230.0,98,"1,174",4.12

In [65]:
alt_book_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7960 entries, 0 to 10017
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           7960 non-null   object
 1   author          7960 non-null   object
 2   genre           7960 non-null   object
 3   date_published  7960 non-null   object
 4   num_of_page     7960 non-null   float64
 5   review_count    7960 non-null   object
 6   rating_count    7960 non-null   object
 7   rate            7960 non-null   float64
dtypes: float64(2), object(6)
memory usage: 559.7+ KB